* {
    position: relative;
    color: white;
}

.mineBody {
    background-image: url("../img/seus-ptgi-shaders-20.jpg");
    background-repeat: repeat-y;
    background-size: cover;
}

h1 {
    font-family: Lemon, serif;
    color: #2e592e;
    text-align: center;
    font-size: 5em;
    cursor: default;
}

.noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    cursor: default;
}

.div {
    color: #ffffff;
    background: #1a1a1a;
    max-width: 40%;
    max-height: 40em;
    padding: 10px 10px;
    margin-left: 10%;
}

.DivImg {
    height: 100%;
    width: 100%;
}
.DivImg:hover {
    box-shadow: #090909 0 0 20px;
    transition-duration: 0.2s;
}

.fixed {
    position: fixed;
}

.icon {
    width: 42px;
    height: 42px;
}

.center {
    text-align: center;
}

a.link {
    text-decoration: none;
    color: #ececec;
    font-size: 12px;
    text-shadow: 1px 1px 1px #090909;
    width: 155px;
    height: 75px;
    background-color: rgba(0,0,0,0);
    border: solid transparent;
}

a.link:hover {
    background: rgba(40, 76, 98, 0.5);
    border: rgba(130, 132, 136, 0.7) solid;
}

#iB {
    background-image: url("../img/fu3cbbac.bmp");
    background-repeat: no-repeat;
    background-size: cover;
}
a.ValoButton {
    position: fixed;
    font-family: Consolas sans-serif;
    font-style: normal;
    text-decoration: none;
    color: #c45046;
    font-size: 50px;
    transition-duration: 0.3s;
    border: solid transparent 4px;
    padding: 5px 5px;
}
a.ValoButton:hover {
    border: solid #1a1a1a 4px;
    border-radius: 10px;
    color: #ff2919;
    transition-duration: 0.2s;
}
a.noSelect img.ValoButton {
    width: 45px;height: 45px;
    transition: .2s;
}

.container {
    position: fixed;
    top: 10q;
    left: 15%;
    width: 60%;
}

a.noSelect img.ValoButton->a.noSelect {
    top: 0;
}
.container:hover > :not(:hover) {
    opacity: .3;
    transition: 0.25s;
}

p.noSelect {
    top: 10em;
    left: 4em;
    width: fit-content;
    height: fit-content;
}

h3 {
    position: relative;
    font-size: 10rem;
    font-family: sans-serif;
    -webkit-text-stroke: 0.2vw #420519;
    color: transparent;
    text-transform: uppercase;
}
h3::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: rgba(26, 26, 26, 0.3);
    -webkit-text-stroke: 0.1vw #420519;
    border-right: 1px solid #2c000e;
    overflow: hidden;
    animation: fills 5s linear infinite;
    -webkit-animation: fills 5s linear infinite;
}
@keyframes fills {
    0% {
        width: 0;
        color: rgba(26, 26, 26, 0.25);
    }
    70% {
        color: rgba(126, 6, 24, 0.95);
        width: 100%;
    }
}